version: '3.8'

services:
  backend:
    build: .
    ports:
      - "9090:9090"
      - "50051:50051"
    restart: always

  frontend:
    build: ./web/gopher-status-web
    ports:
      - "80:80"
    depends_on:
      - backend
